<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script th:href="@{/bootstrap/js/bootstrap.bundle.js}"
            type="text/javascript"></script>
</head>
<body>
<div class="card">
    <div class="card-header">
        CALCULADORA IMC
    </div>
    <div class="card-body">
        <form method="post" th:action="@{/calculoimc}" th:object="${imcForm}">
            <div class="mb-3">
                <label for="txtTalla" class="form-label">Ingrese su talla:</label>
                <input type="text" class="form-control" id="txtTalla"
                       th:field="*{talla}">
            </div>
            <div class="mb-3">
                <label for="txtPeso" class="form-label">Ingrese su peso:</label>
                <input type="text" class="form-control" id="txtPeso"
                       th:field="*{peso}">
            </div>
            <button type="submit" class="btn btn-primary">CALCULAR IMC</button>
        </form>
    </div>
</div>
</body>
</html>